body{
    background-image: url('media/Banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #102542;
    overflow: hidden;
    white-space: nowrap;
    position: static;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,Droid Sans, 'Helvetica Neue', sans-serif;
    font: url("fonts/roboto.regular.ttf");
}

h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,Droid Sans, 'Helvetica Neue', sans-serif;
    font: url("fonts/oswald-regular.ttf");
}

div.logo {
    width: 100px;
    height: auto;
}

#link{
    color: #102542;
    text-decoration: none;
}

#link:hover{
    color: #102542;
    text-decoration: underline;
}


div.element h2{
    margin: 0%;
    margin-left: 2%;
}

div.left {
    float: left;
    transform: scale(75%);
    transform-origin: 0 0;
}

div.now{
    display: inline-block;
    border-style: solid;
    list-style-position: inside;
    line-height: 150%;
    border-color: #f7fff7;
    background-color: #102542;
    color: #f7fff7;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    overflow: hidden;
}

div.now li{
    position: relative;
    vertical-align: middle;
    padding: 0%;
    margin: 0%;
    display: inline-block;
    color: #f7fff7;
}

div.weatherNow{
    float: left;
    border-left: solid;
    padding: 10px;
    margin: 10px;
    line-height: 150%;
    background-color: #102542;
    color: #f7fff7;
    resize: none;
    width: 180px;
}

div.weatherIcon{
    float: right;
    border-right: solid;
    padding: 5%;
    position: relative;
    margin: 10px;
    line-height: 160%;
    background-color: #102542;
    color: #f7fff7;
    min-width: 50%;
}

div.btn{
    border: #f7fff7;
    border-style: solid;
    vertical-align: middle;
    padding: 10%;
}

div.buttonRight{
    float: right;
    position: relative;
}

div.buttonLeft{
    float: left;
    position: relative;
}

div.weatherDays h2{
    margin: 0%;    
    border-color: #f7fff7;
    background-color: #102542;
    color: #f7fff7;
}

div.weatherDays{
    border-style: solid;
    border-color: #f7fff7;
    background-color: #102542;
    color: #f7fff7;
    padding: 2%;
    margin: 2%;
}

div.daysCard li{
    border-style: solid;
    vertical-align: middle;
    padding: 1%;
    display: inline-block;
    border-color: #f7fff7;
    background-color: #102542;
    color: #f7fff7;
}

div.weekCard{
    border-style: solid;
    border-color: #f7fff7;
    background-color: #102542;
    color: #f7fff7;
    padding: 2%;
    margin: 2%;
}

div.weekCard h2{
    margin: 0%;
}

div.weekCard li{
    border-style: solid;
    vertical-align: middle;
    padding: 1%;
    display: inline-block;
    border-color: #f7fff7;
    background-color: #102542;
    color: #f7fff7;
}

div.warning{
    border-style: solid;
    border-color: red;
    border-width: 5px;
    background-color: #f7fff7;
    color: red;
    max-width: fit-content;
    padding: 2%;
    margin: 2%;
    white-space:initial;
}

div.right {
    float: right;
    width: max-content;
    padding-right: 0%;
    margin-top: 1%;
    margin-right: 1.5%;
}


h2.River{
    padding: 1%;
}

div.River{
    border-style: solid;
    background-color: #102542;
    color: #f7fff7;
    padding: 5%;
    margin: 0%;
    margin-bottom: 0%;
    transform: scale(85%);
    transform-origin: top right;
}

div.aktivities{
    border-style: solid;
    background-color: #102542;
    color: #f7fff7;
    padding: 3%;
    margin: 2%;
    margin-top: 0%;
    margin-right: 0%;
}

div.bottom {
    border-style: solid;
    background-color: #102542;
    color: #f7fff7;
    padding: 3%;
    padding-bottom: 3%;
    margin: 3%;
    margin-top: 0%;
    margin-right: 0%;
}

div.riverDiagramm{
    position: fixed;
    justify-content: center;
    border-style: solid;
    background-color: #102542;
    color: #f7fff7;
    padding: 5%;
    padding-bottom: 3%;
    padding-top: 0%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


@media (min-width: 240px) and (orientation: portrait){
    
    body{
        background-image: url('media/Banner.jpg');
        overflow: visible;
        background-size: auto;
    }

    div.main{
        display: inline-grid;
        transform: scale(150%);
        transform-origin: 0 0;
    }

    div.left{
        float: none;
        transform: scale(100%);
        transform-origin: 0 0;
        margin-bottom: 1%;
    }

    div.now{
        margin: 1%;

        padding-left: 3%;
        padding-right: 3%;
    }

    div.btn{
        padding: 0%;
    }

    div.weatherDays{
        margin: 1%;
        padding: 5%;
    }

    div.weatherDays li{
        width: max-content;
        
    }

    div.daysCard li{
        border-style: solid;
        vertical-align: middle;
        padding: 0.5%;
        display: inline-block;
        border-color: #f7fff7;
        background-color: #102542;
        color: #f7fff7;
    }

    div.weatherDays h2{
        padding-left: 0%;
    }

    div.weekCard{
        margin: 1%;
        padding: 5%;
    }

    div.warning{
        margin: 1%;
    }

    div.right {
        float: none;
        display: inline-block;
        margin-left: 1%;
        transform: scale(1);
    }
    div.River{
        margin: 0%;
        margin-bottom: 3%;
    }

    div.mobileRight{
        display: flex;
        transform: scale(0.8);
        transform-origin: 0 0;
    }

    div.aktivities{
        float: left;
        margin: 0%;
        margin-right: 5%;
        width: 50%;
    }
    div.bottom {
        float: right;
        margin: 0%;
        width: 50%;
    }
    div.riverDiagramm{
        position: fixed;
        justify-content: center;
        border-style: solid;
        background-color: #102542;
        color: #f7fff7;
        padding: 5%;
        padding-top: 0%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
}

@media (min-width: 1000px) and (max-width: 1124px) and (orientation: landscape){
    body{
        background-image: url('media/Banner.jpg');
        overflow: inherit;
    }
    

    div.element{
        margin-right: 0%;
    }

    div.main{
        margin-top: 0%;
    }

    div.left{
        float: left;
        display: inline-grid;
        width: max-content;
        transform: scale(0.75);
        transform-origin: 0 0;
        margin-bottom: 1%;
    }

    div.now{
        width: fit-content;
    }

    div.right{
        width:  inherit;
        float: none;
        display: grid;
        margin-right: 5%;
        margin-top: 0%;
        margin-bottom: 0%;
        transform: scale(90%);
        transform-origin: right top;
    }

    div.River{
        width: fit-content;
        margin-top: 7%;
        margin-left: 2%;
        margin-right: 3%;
        margin-bottom: 0%;
    }

    div.aktivities{
        margin: 0%;
        margin-top: 0%;
        margin-left: 2%;
        white-space: initial;
    }

    div.bottom {
        margin: 0%;
        margin-top: 0%;
        margin-left: 2%;
        white-space: initial;
    }
}

@media (min-width: 240px) and (max-width: 1000px) and (orientation: landscape){
    body{
        background-image: url('media/Banner.jpg');
        overflow: inherit;
    }

    div.element{
        margin-right: 0%;
    }

    div.main{
        margin-top: 0%;
    }

    div.left{
        float: left;
        display: inline-grid;
        width: max-content;
        transform: scale(0.48);
        transform-origin: 0 0;
        margin-bottom: 1%;
    }

    div.now{
        width: fit-content;
    }

    div.right{
        width:  inherit;
        float: none;
        display: grid;
        margin-right: 5%;
        margin-top: 0%;
        margin-bottom: 0%;
        transform: scale(83%);
        transform-origin: right top;
    }

    div.River{
        width: fit-content;
        margin-left: 0%;
        margin-right: 3%;
        margin-bottom: 0%;
    }

    div.aktivities{
        margin: 0%;
        margin-top: 0%;
        margin-left: 2%;
        white-space: initial;
    }

    div.bottom {
        margin: 0%;
        margin-top: 0%;
        margin-left: 2%;
        white-space: initial;
    }

    div.riverDiagramm{
        position: fixed;
        justify-content: center;
        border-style: solid;
        background-color: #102542;
        color: #f7fff7;
        padding: 5%;
        padding-top: 0%;
        left: 50%;
        top: 50%;
        scroll-behavior: smooth;
        transform: scale(80%);
        transform: translate(-50%, -50%);
    }

    #diagramm{
        width: fit-content;
        transform: scale(80%);
    }
}

@media (min-width: 2000px) and (orientation: landscape){
    div.left{
        transform: scale(1.1);
        transform-origin: 0,0;
    }
    div.right{
        transform: scale(1.1);
        transform-origin: top right;
        margin: 0%;
        margin-top: 1.5%;
    }
    div.River{
        margin-right: 7%;
        margin-bottom: 10%;
    }
    div.aktivities{
        margin-right: 7%;
        margin-bottom: 10%;
    }
    div.bottom{
        margin-right: 6.5%;
    }
}